* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --BACKGROUND-COLOR: rgba(0, 0, 0, 0.92);
  /* --SECONDARY-BG-COLOR: #262837; */
  --SECONDARY-BG-COLOR: #2C3333;
  --PLACEHOLDER-COLOR: rgb(155, 155, 155);
  --MAIN-TEXT-COLOR: #EEEEEE;
  --BUTTON-BACKGROUND-COLOR: #039be75b;
  --BUTTON-BACKGROUND-HOVER: #1f7373f1;
  --BUTTON-BACKGROUND-ACTIVE: #00337C;
  --GREEN-ACCENT: #03C988;
  --HIGH-PRIORITY: #ff5b22;
  --HIGH-PRIORITY: #ff5b22;
  --HIGH-PRIORITY: #ff5b22;
}

body {
  color: var(--MAIN-TEXT-COLOR);
  font-family: Arial, Helvetica, sans-serif;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* @font-face {
  font-family: 'MyFont';
  src: url('./my-font.woff2') format('woff2'),
      url('./my-font.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  } */

.main {
  max-width: 400px;
  min-width: 350px;
  height: 100vh;
  background-color: var(--BACKGROUND-COLOR);
  border: 1px solid rgb(251, 251, 251);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page-title-container {
  border: 1px solid rgb(255, 255, 255);
  display: flex;
  justify-content: center;
}

.title {
}

.bottom-controls {
  border: 1px solid rgb(255, 255, 255);
  height: 100px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.modal {
  position: absolute;
  bottom: 100px;
  /* background-color: red; */
}

form {
  background-color: var(--BACKGROUND-COLOR);
  border-radius: 20px;
  width: 320px;
  padding: 20px;
  box-shadow: 2px 2px 6px 1px rgb(163, 163, 163);
}

legend {
  text-align: center;
  margin-bottom: 10px;
}
input {
  margin: 3px 0 15px 0;
  background-color: var(--SECONDARY-BG-COLOR);
  border-radius: 12px;
  border: 0;
  color: var(--TEXT-COLOR);
  outline: none;
  padding: 8px 20px 8px;
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
}

/* THIS ONE IS NOT WORKING */
input[type="date"]::placeholder {
  color: green;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

input::placeholder,
textarea::placeholder {
  color: var(--PLACEHOLDER-COLOR);
}

input[type="checkbox"] {
  margin: 10px 0px;
  width: 40px;
  transform: scale(2);
  cursor: pointer;
}

.priority-checkbox {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

/* .priority-container {
  display: flex;
  gap: 20px;
  justify-content: center;
} */

.priority-container {
  display: flex;
  margin: 3px 0 15px 0;
  justify-content: space-evenly;
}

.priority-checkbox + label {
  position: relative;
  font-size: 14px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  height: 20px;
  color: var(--TEXT-COLOR);
}
.priority-checkbox + label::before {
  content: " ";
  display: inline-block;
  vertical-align: middle;
  margin-right: 3px;
  width: 25px;
  height: 25px;
  background-color: white;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(204, 204, 204);
  border-radius: 2px;
  box-shadow: none;
}
.priority-checkbox:checked + label::after {
  content: " ";
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0NDggNTEyIj48cGF0aCBmaWxsPSIjMDA2YmVkIiBkPSJNMCA5NkMwIDYwLjY1IDI4LjY1IDMyIDY0IDMySDM4NEM0MTkuMyAzMiA0NDggNjAuNjUgNDQ4IDk2VjQxNkM0NDggNDUxLjMgNDE5LjMgNDgwIDM4NCA0ODBINjRDMjguNjUgNDgwIDAgNDUxLjMgMCA0MTZWOTZ6Ii8+PC9zdmc+");
  background-repeat: no-repeat;
  background-size: 14px 14px;
  background-position: center center;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0px;
  left: 2px;
  top: 0px;
  text-align: center;
  background-color: transparent;
  font-size: 10px;
  height: 20px;
  width: 20px;
  transform: scale(1.5);
}

/* textarea field */
/* #description {
  height: 50px;
  width: 100%;
  background-color: var(--SECONDARY-BG-COLOR);
  resize: none;
  color: var(--PLACEHOLDER-COLOR);
  outline: none;
  border: 0;
  border-radius: 5px;
  padding: 8px 20px 8px;
} */

.error-msg-container {
  height: 1rem;
  color: rgb(255, 15, 15);
  text-align: center;
  font-size: 0.7rem;
  font-weight: bold;
}

.create-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#create-todo-btn {
  display: inline-block;
  background-color: var(--SECONDARY-BG-COLOR);
  border-radius: 5px;
  border: none;
  padding: 10px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  cursor: pointer;
}

#create-todo-btn:active {
  opacity: .8;
}

.todo-container {

}

.todo-item {
  /* display: flex;
  justify-content: space-between; */
  /* background-color: var(--SECONDARY-BG-COLOR); */
  padding: 3px;
  border-left: 2px solid  var(--GREEN-ACCENT);
  border-left-width: medium;
  background: rgb(44,51,51);
  background: linear-gradient(153deg, rgba(44,51,51,1) 0%, rgba(44,51,51,1) 35%, rgba(35,17,103,1) 92%);
  /* box-shadow: inset 5px 5px 10px #003f4a, inset -5px -5px 10px #005564; */
  /* border-radius: 3px; */
  /* border: 1px solid rgba(109, 255, 4, 0.883); */
  width: 390px;
  height: 80px;
  margin: 5px 3px 5px 3px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr minmax(auto, 30px) ;
  /* grid-template-columns: 1fr minmax(auto, auto) minmax(auto, 1fr) minmax(auto, 1fr) minmax(auto, auto); */
  /* grid-template-rows: minmax(auto, auto) minmax(auto, 26px) 26px; */
  grid-template-rows: minmax(auto, 60px) 30px;
  gap: 5px;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: normal;
}
 
.todo-item li {
  /* border: 1px solid white; */
  padding: 3px;
  border-radius: 3px;
  /* background-color: var(--BUTTON-BACKGROUND-COLOR); */
}


.todo-move {

}

.todo-title {
  overflow: auto;
  /* background-color: gray; */
  grid-column: 1/6;
  grid-row: 1/2;
  text-decoration: none;
  /* overflow: scroll; */
  height: 45px;

}

.todo-title:focus {
  /* border: 1px solid var(--GREEN-ACCENT); */
  background-color:rgba(140, 0, 0, 0.41) ;
  outline: none;
}

.todo-marked-as-done {
  background-color: rgba(24, 9, 110, 0.528);
  text-decoration: line-through;
  color: gray;
}

.todo-date {
  background-color: var(--BUTTON-BACKGROUND-COLOR);
  grid-column: 3/4;
  grid-row: 2/3;
  text-align: center;
  transition: margin 0.2s;
  border: 1px  solid var(--GREEN-ACCENT);
}

.todo-priority {
  grid-column: 4/5;
  grid-row: 2/3;
  text-align: center;
  transition: margin 0.2s;
}

.todo-priority-high {
  background-color: rgba(255, 0, 0, 0.611); 
}

.todo-priority-medium {
  background-color: orange; 
  color: black;
}

.todo-priority-low {
  background-color: rgba(2, 84, 2, 0.768); 
}

.todo-delete {
  grid-column: 5/6;
  grid-row: 2/3;
  transition: margin 0.2s;
  /* align-content: center; */
  /* align-items: center; */
  display: flex;
  justify-content: center;
}

.todo-move {
  grid-column: 1/2;
  grid-row: 2/3;
  text-align: center;
  background-color: var(--BUTTON-BACKGROUND-COLOR);
  transition: margin 0.1s;
}

.todo-done {
  grid-column: 2/3;
  grid-row: 2/3;
  text-align: center;
  background-color: var(--BUTTON-BACKGROUND-COLOR);
  transition: margin 0.2s, box-shadow, linear;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.todo-move:active, .todo-done:active, .todo-priority:active, .todo-date:active {
  margin-top: 2px;
  margin-left: 2px;
  box-shadow: 3px 3px 10px rgb(134, 254, 70);
  border-bottom: 1px solid rgb(200, 255, 170);

}

.todo-move:hover, .todo-done:hover, .todo-priority:hover, .todo-date:hover {
  cursor: pointer;
  background: var(--BUTTON-BACKGROUND-HOVER);
}
.trash-svg {
  filter: invert(13%) sepia(81%) saturate(7478%) hue-rotate(7deg) brightness(92%) contrast(114%);
  width: auto;
  cursor: pointer;
  fill: yellow;
}

.trash-svg:active {
  margin-top: 2px;
  margin-left: 2px;
  /* filter: drop-shadow(3px 3px 10px rgb(134, 254, 70)); */
  filter: drop-shadow(2px 2px 3px rgb(134, 254, 70));
  filter: invert(83%) sepia(42%) saturate(1%) hue-rotate(25deg) brightness(102%) contrast(103%);
  /* box-shadow: 3px 3px 10px rgb(134, 254, 70); */
  
  /* border-bottom: 1px solid rgb(200, 255, 170); */
}

.trash-svg:hover {
  filter: invert(77%) sepia(70%) saturate(3502%) hue-rotate(314deg) brightness(99%) contrast(102%);
}

.check-mark-svg {
  width: 20px;
  filter: invert(55%) sepia(89%) saturate(1071%) hue-rotate(115deg) brightness(92%) contrast(98%);
}

.check-mark-svg:active {
  margin-top: 2px;
  margin-left: 2px;
  filter: drop-shadow(2px 2px 3px rgb(134, 254, 70));
  filter: invert(83%) sepia(42%) saturate(1%) hue-rotate(25deg) brightness(102%) contrast(103%);
}

.popup-calendar {
  position: absolute;
  width: 180px;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  box-shadow: 2px 2px 6px 1px rgb(163, 163, 163);
  z-index: 1;
}

.popup-calendar.active {
  transform: translate(-50%, -50%) scale(1.2);

}

#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsla(0, 0%, 0%, 0.5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

.dropdown-container {
  position: absolute;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border-radius: 10px;
  background-color: var(--BACKGROUND-COLOR);
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: 2px 2px 6px 1px rgb(163, 163, 163);
  z-index: 1;
}

.dropdown-container.active {
  transform: translate(-50%, -50%) scale(1.2);

}
.move-dropdown-item-el {
  background-color: var(--BUTTON-BACKGROUND-COLOR);
  /* color: white; */
  border: none;
  border-radius: 5px;
  padding: 3px;
  margin-top: 4px;
}

.move-dropdown-item-el:hover {
  background: var(--BUTTON-BACKGROUND-HOVER);
}

.move-dropdown-item-el:active {
  color: var(--BUTTON-BACKGROUND-HOVER);
  text-shadow: 1px 1px 1px white;
}