* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --BACKGROUND-COLOR: rgba(0, 0, 0, 0.92);
  --SECONDARY-BG-COLOR: #262837;
  --PLACEHOLDER-COLOR: rgb(155, 155, 155);
  --TEXT-COLOR: white;
  --HIGH-PRIORITY: #ff5b22;
  --HIGH-PRIORITY: #ff5b22;
  --HIGH-PRIORITY: #ff5b22;
}

body {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* @font-face {
  font-family: 'MyFont';
  src: url('./my-font.woff2') format('woff2'),
      url('./my-font.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  } */

.main {
  max-width: 400px;
  min-width: 350px;
  height: 100vh;
  background-color: var(--BACKGROUND-COLOR);
  border: 1px solid rgb(251, 251, 251);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page-title-container {
  border: 1px solid rgb(255, 255, 255);
  display: flex;
  justify-content: center;
}

.title {
}

.bottom-controls {
  border: 1px solid rgb(255, 255, 255);
  height: 100px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.modal {
  position: absolute;
  bottom: 100px;
  /* background-color: red; */
}

form {
  background-color: var(--BACKGROUND-COLOR);
  border-radius: 20px;
  padding: 20px;
  width: 320px;
  box-shadow: 2px 2px 6px 1px rgb(163, 163, 163);
}

legend {
  text-align: center;
  margin-bottom: 10px;
}
input {
  margin: 3px 0 15px 0;
  background-color: var(--SECONDARY-BG-COLOR);
  border-radius: 12px;
  border: 0;
  color: var(--TEXT-COLOR);
  outline: none;
  padding: 8px 20px 8px;
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
}

/* THIS ONE IS NOT WORKING */
input[type="date"]::placeholder {
  color: green;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

input::placeholder,
textarea::placeholder {
  color: var(--PLACEHOLDER-COLOR);
}

input[type="checkbox"] {
  margin: 10px 0px;
  width: 40px;
  transform: scale(2);
  cursor: pointer;
}

.priority-checkbox {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

/* .priority-container {
  display: flex;
  gap: 20px;
  justify-content: center;
} */

.priority-container {
  display: flex;
  margin: 3px 0 15px 0;
  justify-content: space-evenly;
}

.priority-checkbox + label {
  position: relative;
  font-size: 14px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  height: 20px;
  color: var(--TEXT-COLOR);
}
.priority-checkbox + label::before {
  content: " ";
  display: inline-block;
  vertical-align: middle;
  margin-right: 3px;
  width: 25px;
  height: 25px;
  background-color: white;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(204, 204, 204);
  border-radius: 2px;
  box-shadow: none;
}
.priority-checkbox:checked + label::after {
  content: " ";
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0NDggNTEyIj48cGF0aCBmaWxsPSIjMDA2YmVkIiBkPSJNMCA5NkMwIDYwLjY1IDI4LjY1IDMyIDY0IDMySDM4NEM0MTkuMyAzMiA0NDggNjAuNjUgNDQ4IDk2VjQxNkM0NDggNDUxLjMgNDE5LjMgNDgwIDM4NCA0ODBINjRDMjguNjUgNDgwIDAgNDUxLjMgMCA0MTZWOTZ6Ii8+PC9zdmc+");
  background-repeat: no-repeat;
  background-size: 14px 14px;
  background-position: center center;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0px;
  left: 2px;
  top: 0px;
  text-align: center;
  background-color: transparent;
  font-size: 10px;
  height: 20px;
  width: 20px;
  transform: scale(1.5);
}

/* textarea field */
#description {
  height: 50px;
  width: 100%;
  background-color: var(--SECONDARY-BG-COLOR);
  resize: none;
  color: var(--PLACEHOLDER-COLOR);
  outline: none;
  border: 0;
  border-radius: 5px;
  padding: 8px 20px 8px;
}

.error-msg-container {
  height: 1rem;
  color: rgb(255, 15, 15);
  text-align: center;
  font-size: 0.7rem;
  font-weight: bold;
}

.create-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#create-todo-btn {
  display: inline-block;
  background-color: var(--SECONDARY-BG-COLOR);
  border-radius: 5px;
  border: none;
  padding: 10px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  cursor: pointer;
}

#create-todo-btn:active {
  opacity: .8;
}

.todo-container {

}

.todo-item {
  /* display: flex;
  justify-content: space-between; */
  border: 1px solid white;
  width: 390px;
  height: 105px;
  margin: 5px 3px 5px 3px;
  display: grid;
  grid-template-columns: 1fr minmax(auto, auto) minmax(auto, 1fr) minmax(auto, 1fr) minmax(auto, auto);
  grid-template-rows: minmax(auto, auto) minmax(auto, 26px) 26px;
  gap: 2px;
  
}
 
.todo-item li {
  border: 1px solid white;
  padding: 3px;
}

.todo-title {
  overflow: auto;
  background-color: gray;
  grid-column: 1/6;
  grid-row: 1/2;
  text-decoration: none;
}

.todo-description {
  overflow: auto;
  background-color: rgb(192, 190, 190);
  grid-column: 1/6;
  grid-row: 2/3;
  
}

.strike-through {
  text-decoration: line-through;
}

.todo-date {
  background-color: red;
  grid-column: 3/4;
  grid-row: 3/4;
  text-align: center;
  
}

.todo-priority {
  grid-column: 4/5;
  grid-row: 3/4;
  text-align: center;
}

.todo-priority-high {
  background-color: red; 
}

.todo-priority-medium {
  background-color: yellow; 
  color: black;
}

.todo-priority-low {
  background-color: green; 
}

.todo-delete {
  grid-column: 5/6;
  grid-row: 3/4;
  text-align: center;
}

.todo-select {
  grid-column: 1/2;
  grid-row: 3/4;
  text-align: center;
}

.todo-done {
  grid-column: 2/3;
  grid-row: 3/4;
  text-align: center;
}